/* Azeret Mono */
@font-face {
  font-family: 'Azeret Mono';
  src: url('files/6ff760927db83a2c.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Azeret Mono';
  src: url('files/3b05c048c7634a2c.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Azeret Mono';
  src: url('files/adc6d383623c2d28.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Azeret Mono';
  src: url('files/8dcb17003c45fa83.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


