/* Clash Display */
@font-face {
  font-family: 'Clash Display';
  src: url('files/2fe4ba2738fec2b3.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('files/b910457645984ce5.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('files/fd52ea6edae3cf16.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('files/9e73742a037f87a7.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


