/* Teko */
@font-face {
  font-family: 'Teko';
  src: url('files/ab7226f309e9a6ee.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Teko';
  src: url('files/a4822302513d1fb1.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Teko';
  src: url('files/fd0e3bbd6d635dc6.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Teko';
  src: url('files/d3ed01c268a314a5.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


