/* Khand */
@font-face {
  font-family: 'Khand';
  src: url('files/c296ab2d94280afd.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Khand';
  src: url('files/7b4d735af029afe7.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Khand';
  src: url('files/8d49b04c257946c8.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Khand';
  src: url('files/e2273c8999d3c221.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


