/* Switzer */
@font-face {
  font-family: 'Switzer';
  src: url('files/f3531afcef8c5bd8.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('files/adae905e551bd868.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('files/8d5493d0b8f25694.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('files/d0be90c498a7863a.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Switzer';
  src: url('files/d54c735254cfa2f5.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}


