/* Archivo */
@font-face {
  font-family: 'Archivo';
  src: url('files/cb4a2b053c2538af.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo';
  src: url('files/f1cea9af1526841b.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo';
  src: url('files/5f9de44c72694260.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo';
  src: url('files/083c20cb3eb77d95.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo';
  src: url('files/b96bbd6d8bed8e31.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}


