/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('files/ca43196c5c5ab33c.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('files/2a6f6a1957a4ea58.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('files/d88d81154952f966.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('files/b1bbc51bc823872a.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


