@font-face{font-family:'Recoleta';font-weight:600;font-style:normal;font-display:block;src:url('Recoleta-600.woff2') format('woff2'),url('Recoleta-600.ttf') format('truetype')}
@font-face{font-family:'Elza';font-weight:400;font-style:normal;font-display:block;src:url('Elza-400.woff2') format('woff2')}
@font-face{font-family:'Elza';font-weight:500;font-style:normal;font-display:block;src:url('Elza-500.woff2') format('woff2')}
@font-face{font-family:'Elza';font-weight:600;font-style:normal;font-display:block;src:url('Elza-600.woff2') format('woff2')}
@font-face{font-family:'Elza';font-weight:700;font-style:normal;font-display:block;src:url('Elza-700.woff2') format('woff2')}
