/* Gambetta */
@font-face {
  font-family: 'Gambetta';
  src: url('files/2e8acdd798fc0f9f.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('files/f37a0a0e9bb067af.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('files/7da205a3ef76753c.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Gambetta';
  src: url('files/4b9ce2d71ddbcd76.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Gambetta';
  src: url('files/55f8a86946a076c7.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


