/* Supreme */
@font-face {
  font-family: 'Supreme';
  src: url('files/66ef9b2ce98591ba.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('files/5d169abd2a98f5c1.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('files/84dc88ce0e802c8c.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


