/* Space Grotesk */
@font-face {
  font-family: 'Space Grotesk';
  src: url('files/b72a0ca7d7b8a9b8.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('files/f167f12784919481.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('files/7a56689535be15aa.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('files/e87a34f668790f66.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


