/* Cabinet Grotesk */
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('files/ce67f76c7b97376c.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('files/eeb5b7b0e5f2e811.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('files/d6723ff2e9e824a6.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


