/* Zodiak */
@font-face {
  font-family: 'Zodiak';
  src: url('files/6aa0948d590e17b6.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak';
  src: url('files/0a4bb8002c7ade5c.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak';
  src: url('files/f1300b0e8ec25c53.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}


